# Нам не потрібно щоб всі файли були в git репозиторію ми самостійно створюємо файл gitignore в який добавляємо що саме ігнорувати
# Файли які ми додали до індексації git зелені (клік правої клавіші на файл git-> +Add)
# Добавити зразу всі файли до індексації git add .
# Всі файли які ми змінюємо перед комітом потрібно добавити в індексацію
# Файли які ми ігноруємо мають салатовий колір
# Файли які не обновились в git мають червоний колір
# Файли які мають білий колір означає що вони не були зміненні після останього комііта
# Файли які синій колір означає що git слідкує за цим файлом і він вже є але хтось зробив нові зміни
# git config --global user.name "Yurii Matkovsky"
# git config --global user.email "matkovskyyurii@gmail.com"
# -це дві команди ініціалізації потрібно робити перший разgit push -u origin main
# В терміналі idea git status - команда яка показує статус файлів та комітів
# git rm --cached <file>...  команда для видалення файла якщо ми помилово щось добавили
# git commit -m "повідомлення коміта" команда створення коміта
# перший commit буде мати назву root-commit його не можливо видалити та від нього рахуються всі інші коміти
# [main (root-commit) 3e51571] first commit
# 3e51571 - хеш код , унікальний ідетифікатор (код коміта)
# 1 file changed, 57 insertions(+) інформація скільки файлів(1) ми закомітили та скільки рядків змінено (57)
# .gitignore - константа потрібна кррпака завжди
# підказки git біля цифри рядочків зелений що додали синій що модифікували стрілочка що видалили
#
#
# out - це ваш особистий біннаркний код
/out
# .idea - це налаштування самої idea ( хтось може працювати з іншої програми )
/.idea
# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/

# JetBrains IDE
.idea/
out/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.iml
*.mp3
*.form
*.txt